@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}
/* 
@theme {
  --font-sans: "Courier New", monospace;
} */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
   
    @apply bg-slate-50 text-slate-900 min-h-screen;
  }
}
html {
  scroll-behavior: smooth;
}